<div class="container">
  <div class="botonera">
    <app-button bordered square centered (onClick)="openModal()">
      Agregar libro
    </app-button>
    <app-button
      bordered
      square
      centered
      (onClick)="startEdit()"
      [disabled]="!LibroSeleccionado"
    >
      Editar libro
    </app-button>
  </div>

  <div class="card">
    <div #contenedorTabla>
      <data-table
        *ngIf="Libros.length > 0"
        [source]="Libros"
        [columns]="tableColumns"
        tableStyle="bordered"
        [maxHeight]="500"
        (selectionChanged)="cargarDetalleLibro($event)"
      ></data-table>
    </div>
    <app-aviso
      *ngIf="Libros.length === 0"
      titulo="Tabla de libros"
      mensaje="Aqui se mostraran los libros que se carguen desde la base de datos"
    ></app-aviso>
  </div>

  <div class="card detalle">
    <app-detalle-libro
      *ngIf="LibroSeleccionado"
      [libro]="LibroSeleccionado"
    ></app-detalle-libro>
    <app-aviso
      *ngIf="!LibroSeleccionado"
      titulo="Detalles del libro"
      mensaje="Aqui se mostraran los detalles del libro que seleccione en la tabla"
    ></app-aviso>
    <div class="action">
      <app-button
        *ngIf="LibroSeleccionado"
        square
        centered
        bordered
        (onClick)="eliminarLibro()"
      >
        Eliminar libro
      </app-button>
    </div>
  </div>

  <app-modal [(isOpen)]="isModalOpen">
    <app-fm-libro
      (onSubmit)="onSubmit($event)"
      (onCancel)="onCancel()"
      [titulo]="tituloModal"
      [libro]="isEditing ? LibroSeleccionado : undefined"
    ></app-fm-libro>
  </app-modal>
</div>
